body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#hero {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero img {
    width: 150px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}
